/* Buy section style */

#buying-section-tab {
    display: grid;
    grid-template-columns: 50% 50%;
}

#buying-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#buying-section-tab #tab-head-task-list {
    background: #bcb27b;
    color: #000;
}

#tab-content-completed {
    display: none;
}

.buy-cancel-button {
    background-color: rgb(188, 178, 123);
    border: none;
    color: white;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.Buy-submit-button {
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 5px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.buy-section-table {
    margin-top: 10px;
}