/* general styles */

* {
    box-sizing: border-box;
}

#food-menu,
#order-details,
#menu-selection-next-btn {
    display: none;
}

.mdc-top-app-bar {
    background: rgb(188, 178, 123);
}

.top-bar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#hamburger-icon {
    font-size: 1.8em;
    justify-self: start;
}

.logo {
    justify-self: center;
    height: 3em;
}

#wifi-icon {
    font-size: 1.4em;
    justify-self: end;
}

.mdc-drawer__header {
    display: grid;
    justify-content: center;
}

.brand-logo-text {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: -26px;
}


/* table number selection styles */

.page-header-text {
    margin-top: 30px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
}

.mdc-card {
    background-color: #675C2F;
}

.card-title {
    text-align: center;
    color: white;
}

.card-title1 {
    margin-top: -20px;
    margin-bottom: 10px;
}

.card-title2 {
    font-size: 16.5px;
    margin-bottom: 20px;
}

.card-title3 {
    margin-bottom: 40px;
}

.table-num-cards {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.table-num-card-item {
    background: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    box-shadow: #b3b3b3 1px 1px 3px;
    border-radius: 2px;
    background: #ccc195;
}

.card-icon {
    font-size: 24px;
    color: #1A1110;
}

.card-text {
    color: rgb(39, 59, 39);
    font-size: 16px;
    font-weight: bold;
}

.statistics-card-icon {
    font-size: 24px;
    color: #1A1110;
}

.statistics-card-text {
    color: #fff;
    margin-left: 6px;
}

footer {
    background-color: #675C2F;
    height: 10vh;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    justify-content: space-around;
    padding-top: 10px;
}

.footer-col {
    justify-self: start;
    display: grid;
    justify-items: center;
}

.footer-col-icon {
    font-size: 24px;
    color: #1A1110;
}

.footer-col-text {
    color: #000;
}