/* general styles */

* {
    box-sizing: border-box;
}

#tab-content-task-list .submit-btn {
    background: #bcb27b;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 1.1em;
    padding: 8px 50px;
}

#sync-section,
#announcement-section,
#menu-selection-next-btn,
#sidebar-cover,
#sidebar,
#buy-section,
#collect-section,
#weigh-section,
#my-tasks-section {
    display: none;
}

.weightDetail {
    margin-top: 7px;
    text-align: center;
}

.padding {
    padding: 22px;
}

input {
    width: 315px;
    height: 50px;
    padding-right: 40px;
}

.camera-bg {
    position: absolute;
    top: 20px;
    right: 0;
    width: 30px;
    height: 20px;
    background: url(https://i.stack.imgur.com/5Vv2z.png) no-repeat;
    background-position: 0 0;
}

.buy-cancel-button {
    background-color: rgb(188, 178, 123);
    border: none;
    color: white;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.Buy-submit-button {
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 5px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.cancel {
    float: right;
    background-color: rgb(188, 178, 123);
    border: none;
    color: white;
    padding: 5px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.weight-button {
    float: right;
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 2px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 15px;
}

.mdc-top-app-bar {
    background: rgb(188, 178, 123);
}

.flote-button {
    margin-top: 10px;
}

.collect-button {
    float: right;
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 2px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 27px;
}

.button {
    float: right;
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 5px 53px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.pending_button {
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 2px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
}

.pending {
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
}

.pendings {
    background-color: #675C2F;
    border: none;
    color: white;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 60px;
}

.buy-section-table {
    margin-top: 10px;
}

h5 {
    font-size: 18px;
    margin-top: 10px;
}

.table-color {
    background-color: rgb(188, 178, 123);
}

.top-bar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#hamburger-icon {
    font-size: 1.8em;
    justify-self: start;
}

.logo {
    justify-self: center;
    height: 3em;
}

#wifi-icon {
    font-size: 1.4em;
    justify-self: end;
}

.mdc-drawer__header {
    display: grid;
    justify-content: center;
}

.brand-logo-text {
    color: #675C2F;
    font-size: 1.2em;
    text-align: center;
    margin-top: -26px;
    font-weight: bold;
}

.mdc-list-item {
    background: rgb(188, 178, 123);
    margin: 0px 10px 12px 10px !important;
    border-radius: 8px !important;
}

.cuplumps {
    padding: 2px 35px;
    background-color: #beb17a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
}

.label {
    display: inline-block;
}

.cuplumps2 {
    padding: 2px 55px;
    border: 0;
    background-color: #675c2f;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.mdc-list-item a {
    color: #000 !important;
    font-size: 1.1em !important;
}

#sidebar-cover {
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

#sidebar {
    background: whitesmoke;
    height: 100vh;
    width: 76%;
    position: absolute;
    z-index: 2;
}

.login-user {
    text-align: center;
    padding-bottom: 26px;
}

header {
    max-height: 10vh;
    top: 0;
}

.page-wrapper {
    min-height: 80vh;
    max-height: 80vh;
    overflow: scroll;
}

footer {
    max-height: 10vh;
}


/* home section styles */

.page-header-text {
    margin-top: 30px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
}

.mdc-card {
    background-color: #675C2F;
}

.mdc-car {
    background-color: #675C2F;
}

.card-title {
    text-align: center;
    color: white;
}

.card-title1 {
    margin-top: -20px;
    margin-bottom: 10px;
}

.card-title2 {
    font-size: 16.5px;
    margin-bottom: 20px;
}

.card-title3 {
    margin-bottom: 40px;
}

.table-num-cards {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.table-num-card-item {
    background: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    box-shadow: #b3b3b3 1px 1px 3px;
    border-radius: 2px;
    background: #ccc195;
}

.card-icon {
    font-size: 24px;
    color: #1A1110;
}

.card-text {
    color: rgb(39, 59, 39);
    font-size: 16px;
    font-weight: bold;
}

.mdc-card {
    height: 46vh;
    border-radius: 15px;
}

.mdc-ca {
    height: 108vh;
    border-radius: 15px;
}

.mdc-car {
    height: 120vh;
    border-radius: 15px;
}

.mdc-c {
    height: 175vh;
    border-radius: 15px;
}

.mdc-w {
    height: 76vh;
    border-radius: 15px;
}

.buy-input {
    margin-top: 20px;
    background-color: #bcb27b70;
}

.collect-input {
    border-radius: 15px;
    height: 30vh !important;
    margin-top: 20px;
    background-color: #bcb27b;
}

.raw-latex {
    height: 75vh !important;
}

.buy_section-form {
    margin-top: -23px;
}

.collect_section-form {
    margin-top: 23px;
}

.card-title1 {
    font-size: 1.5em !important;
    margin-bottom: 20px !important;
    font-weight: bold !important;
}

.card-title2 {
    font-size: 1.2em !important;
    margin-bottom: 20px !important;
}

.statistics {
    margin-top: 20px;
}

.statistics-card-icon {
    font-size: 24px;
    color: #1A1110;
}

.statistics-card-text {
    color: #fff;
    margin-left: 6px;
}

footer {
    background-color: #675C2F;
    height: 10vh;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    justify-content: space-around;
    padding-top: 10px;
}

.footer-col {
    justify-self: start;
    display: grid;
    justify-items: center;
}

.footer-col-icon {
    font-size: 20px;
    color: #1A1110;
}

.footer-col-text {
    color: #000;
}

.home_footer {
    margin-left: 13px;
}

.sync_footer {
    margin-left: 35px;
}

.announcement_footer {
    margin-left: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Sync section style */

#sync-section .card,
#announcement-section .card {
    background: #f0edd1;
    border: solid 1px rgb(160, 160, 160);
}

#sync-section .card button {
    background: #bcb27b;
    border: solid 1px rgb(160, 160, 160);
    color: green;
}


/* Weigh section style */

#weig-section-tab {
    display: grid;
    grid-template-columns: 30% repeat(auto-fill, 35%);
}

#weig-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#weig-section-tab #tab-head-buy {
    background: #bcb27b;
    color: #000;
}

#tab-content-estate,
#tab-content-shipment {
    display: none;
}


/*  */


/* Weigh section style */

#weigh-section-tab {
    display: grid;
    grid-template-columns: 30% repeat(auto-fill, 35%);
}

#weigh-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#weigh-section-tab #tab-head-buy {
    background: #bcb27b;
    color: #000;
}

#tab-content-estate,
#tab-content-shipment {
    display: none;
}


/* collect section style */

#weighs-section-tab {
    display: grid;
    grid-template-columns: 50% 50% repeat(auto-fill, 35%);
}

#weighs-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#weighs-section-tab #tab-head-buy {
    background: #bcb27b;
    color: #000;
}

#tab-content-estate {
    display: none;
}


/* buy section style */

#buying-section-tab {
    display: grid;
    grid-template-columns: 50% 50%;
}

#buying-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#buying-section-tab #tab-head-task-list {
    background: #bcb27b;
    color: #000;
}

#tab-content-completed {
    display: none;
}


/* task section style */

#my-tasks-section-tab {
    display: grid;
    grid-template-columns: 50% 50%;
}

#my-tasks-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#my-tasks-section-tab #tab-head-task-list {
    background: #bcb27b;
    color: #000;
}

#tab-content-completed {
    display: none;
}