/* Weigh section style */

#weig-section-tab {
    display: grid;
    grid-template-columns: 30% repeat(auto-fill, 35%);
}

#weig-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#weig-section-tab #tab-head-buy {
    background: #bcb27b;
    color: #000;
}

#tab-content-estate,
#tab-content-shipment {
    display: none;
}

#weigh-section-tab {
    display: grid;
    grid-template-columns: 30% repeat(auto-fill, 35%);
}

#weigh-section-tab .tab-head {
    text-align: center;
    padding: 8px 0px;
    background: #675C2F;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#weigh-section-tab #tab-head-buy {
    background: #bcb27b;
    color: #000;
}

#tab-content-estate,
#tab-content-shipment {
    display: none;
}

#btn-group {
    display: grid;
    grid-template-columns: 50% 50%;
}

.submit-btn,
.save-btn {
    background: #bcb27b;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 50px;
}

.submit-btn {
    background: #675C2F;
    color: #fff;
    margin-left: 10px;
}

#pending-and-submitted-entries {
    background: #bcb27b;
    color: #000;
    font-size: 1.1em;
    padding: 8px 0px;
    text-align: center;
    margin-top: 20px;
    border-radius: 6px;
}